.complaints-list {
    list-style-type: none;
    padding: 0;
}

.complaints-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.complaints-item h3 {
  margin-top: 0;
}

.vote-buttons {
  display: flex;
  align-items: center;
}

.vote-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.vote-buttons button:hover {
  text-decoration: underline;
}

.up, .down {
  width: 20px;
  height: 20px;
}

.vote-buttons button.clicked {
  opacity: 0.5; 
}

.up.dull, .down.dull {
  opacity: 0.5; /* Adjust the opacity as needed */
}
